name: metatest

on:
  push:
    branches:
      - main
  pull_request:

permissions:
  contents: read

jobs:
  semgrep:
    uses: caarlos0/meta/.github/workflows/semgrep.yml@main
  ruleguard:
    uses: caarlos0/meta/.github/workflows/ruleguard.yml@main
    with:
      cache: false
      go-version: stable
