name: ruleguard

on:
  workflow_call:
    inputs:
      go-version:
        required: false
        type: string
        default: stable
      args:
        required: false
        type: string
        default: ""
      working-directory:
        required: false
        type: string
        default: "."

permissions:
  contents: read

jobs:
  scan:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          working-directory: ${{ inputs.working-directory }}
          repository: dgryski/semgrep-go
          path: rules
      - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          working-directory: ${{ inputs.working-directory }}
          go-version: ${{ inputs.go-version }}
      - name: ruleguard
        working-directory: ${{ inputs.working-directory }}
        run: |
          # needs to be outside of the workspace for some reason
          mv rules ../
          go install github.com/quasilyte/go-ruleguard/cmd/ruleguard@latest
          go get -u github.com/quasilyte/go-ruleguard/dsl@latest
          ruleguard -c=0 -rules ../rules/ruleguard.rules.go ${{ inputs.args }} ./...
